h3 {
    color: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Cambria;
}

.underline {
    color: #808e9b;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

body {
    background-color: #f78fb3;
}

.screen {
    width: 350px;
    height: 450px;
    background: #2c3642;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 3%;


}

@keyframes spining {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

.ipt {
 
   width: 100%;
   background-color: #485460;
   padding-top: 10px;
   padding-bottom: 20px;

}

.ipt i {
    border: #485460;
    margin-left: 20px;
  
}


.ipt input {
    
    background-color: #485460;
    width: 80%;
    outline: none;
    border: none;
    margin-left: 20px;
    color: #fff;
 
}



.btn {
    color: #cf6a87;
    background: none;
    border-radius: 24px;
    padding: 8px;
    width: 120px;
    border: 2px solid #cf6a87;
    text-align: center;
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 50px;
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: #cf6a87;
    color: #fff;
    
}

.Authenticating {
    width: 350px;
    height: 200px;
    background: #2c3642;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,30%);
    opacity: 0;
}

.loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 3px solid #17c0eb;
    border-radius: 50%;
    border-top-color: #fff;
    animation: 1.5s spin infinite ease-in-out;
    margin-left: 140px;
    margin-top: 30px;
}

.Authenticating h1 {
    margin-left: 70px;
    margin-top: 50px;
}

.success, .denied {
    width: 350px;
    height: 200px;
    background: #2c3642;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-97%);
    opacity: 0;
    z-index: -5;
}

.success h1, .denied h1 {
    margin-left: 65px;
    margin-top: 70px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

