.carousel-inner img {
    width: 100%;
    height: 1005;
}

/*--------------Header------------------*/




/*------------------Carousel-----------------*/



.slide-frame .slide-image {
    width: 100%;
    height: 700px;
    margin: 0px auto;
    overflow: hidden;
    background-color: rgb(231, 150, 0);
}

.slide-frame .slide-image .img-container {
    display: inline-block;
    /* width: 100%;
    height: 100%; */
}



/*____________________________TAB______________________________________*/
.tabs {
    color: #777777;
    font: 15px Arial;
    background-color: #ECEBED;
    overflow: hidden;
}

.tab-item-container {
    justify-content: center;
    align-items: center;
}

.tabs .container {
    color: #777777;
    font: 15px Arial;
    /* margin: 0 68px; */
    padding-top: 2rem;
    height: 95px;
    align-items: center;
    justify-content: center;
}

.tabs .container .tab-item {
    padding: 15px 15px;
    height: 95px;
    border-color: 10px solid #ddd;
}

.tabs > span {
    /* margin: 10px 0 0 0; */
    display: block;
}

.tabs .container > a{
    padding: 15px;
    text-decoration: none;
}

/*------------------------------------------------*/
.title {
    text-align: center;
    margin:0 auto 80px;
    position: relative;
    line-height: 60px;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translate(-50%);
}



/*_________________________MAIN TAB ____________________________-*/
.nat-tab-content .container{
  justify-content: center;
  align-items: center;
  height: 137px;
}

.nat-tab-content .container .nat-title-short-border {
    text-transform: none;
    font-family: NeoSansLight;
    font-size: 30px;
    margin: 60px 0 30px;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.nat-title-short-border span{
    display: block;
    max-width: 110px;
    width: calc(100% - 40px);
    border-bottom: 2px solid #f26522;
    width: 60px;
    margin: 3px auto 0;
}

.nat-tab-content-container-title {
    background: #fcfbfd;
    box-shadow: 0px 4px 21px -9px #000;
}

.nat-tab-content-container .nat-tab-content-container-title .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nat-tab-content-container ul.nav-tabs {
    text-align: center;
    border: none;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-bottom: 10px;
}

.nat-tab-content-container ul.nav-tabs li {
    float: none;
    display: inline-block;
    padding: 0 20px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nat-tab-content-container ul.nav-tabs li.active a, .nat-tab-content-container ul.nav-tabs li a:hover, .nat-tab-content-container ul.nav-tabs li a:focus {
    border-color: #f26522 !important;
    color: #333;
}
.nat-tab-content-container ul.nav-tabs li a {
    font-weight: bold;
    border: none !important;
    background: none !important;
    position: relative;
    font-family: NeoSansLight;
    font-size: 22px;
    color: #999;
    border-bottom: 3px solid transparent !important;
    padding: 12px 15px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}


.action-link {
    cursor: pointer;
}


/*______________________TAB CONTENT_____________________-*/
.nat-product-new-item > .nat-product-new-item-border, .nat-tab-content-product-page-container .nat-product-new-item {
    box-shadow: 0px 0px 15px -5px #333;
    margin-bottom: 30px;
}

.nat-product-new-item-style1 > .nat-product-new-item-border > p {
    margin: 0;
    overflow: hidden;
    height: 0;
    padding-bottom: 75%;
}
a, button, .btn {
    transition: all 0.2s linear 0s;
    outline: none !important;
}

.nat-product-new-item > .nat-product-new-item-border > p img {
    width: 100%;
}
img {
    border: 0;
}

img {
    vertical-align: middle;
}

.nat-product-new-item-next {
    padding: 18px 15px 20px;
    color: #333;
}

.nat-product-new-item-text > div label {
    font-weight: normal;
    font-size: 16px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.nat-product-new-item-text > div .nat-star {
    float: right;
    font-size: 12px;
}

.nat-star {
    display: block;
    margin-bottom: 5px;
}

.action-link {
    cursor: pointer;
}

.nav-star a {
    color: #f26522;
}

.fa {
    display: inline-block;
}

.nat-product-new-item-next > p {
    font-size: 13px;
    color: #777;
    overflow: hidden;
    height: 55px;
    margin: 0;
}

.nat-product-new-item-text > a i .fa {
    color: #fff;
    background: #f26522;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 22px;
    line-height: 18px;
    padding-left: 4px;
    margin-right: 5px;
}

.nat-tab-content-btn-view-all {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 60px;
}

.nat-tab-content-btn-view-all .btn {
    background-color: #f26522;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    padding: 8px 55px 7px;
    font-size: 13px;
}


/*------------------HELP-----------------------*/


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.nat-title-short-border {
    text-transform: none;
    font-size: 30px;
    margin: 60px 0 30px;
    text-align: center;
    font-weight: bold;
}



.nat-support-online-item {
    /* text-align: center; */
    /* border: 1px solid #ccc; */
    /* width: calc(25% - 20px);
    margin: 10px 0 55px 30px;
    padding: 30px 15px 40px; */
    background-color: orange;
}

.nat-support-online-item img {
    margin-bottom: 10px;
}

.nat-support-online-item p {
    color: #333;
    margin: 0;
}

div {
    display: block;
}

.nat-support-online-item label {
    display: block;
    font-family: SanFrancisco;
    color: #000;
    margin-bottom: 15px;
    text-transform: uppercase;
    max-width: 100%;
}


img {
    vertical-align: middle;
}

.nat-new-app img {
    width: 100%;
}

img {
    vertical-align: middle;
    border: 0;
}


/*-------Footer-----------*/
.nat-footer {
    padding-top: 0;
    background: #2e2e2e;
}

.nat-footer {
    background: #282924;
    min-height: 120px;
    padding: 25px 35px;
    color: #fff;
    position: relative;
}

.new-footer-media {
    text-align: right;
    padding: 8px 0;
}

.new-footer-block {
    border-bottom: 1px solid #505050;
}